<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eemc.aida" >

 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
    <application
        android:label="@string/app_name"
		android:icon="@mipmap/aida_icon"
		android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity">
			
            <intent-filter >
                <action
					android:name="android.intent.action.MAIN" />
                <category
					android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			
        </activity>
		
		<activity
			android:name=".ELFViewerActivity"
			android:label="@string/elf_viewer_title">
    	</activity>
		
		<activity
			android:name =".LoadingActivity"
			android:label="@string/loading_title">
		</activity>
		
		<activity
			android:name=".RuntimeActivity"
			android:label="@string/executable_runtime_title">
    	</activity>
		
		<activity
			android:name=".FileChooserActivity"
			android:label="@string/file_chooser_title">
    	</activity>
		
		<activity
			android:name=".ASMCodeActivity"
			android:label="@string/asm_code_title">
    	</activity>
		
	</application>

</manifest>
