<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eemc.aida" >

 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
    <application
		android:name=".App"
        android:label="@string/app_name"
		android:icon="@mipmap/aida_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
			android:process=":com.eemc.aida.mainactivity">
			
            <intent-filter >
                <action
					android:name="android.intent.action.MAIN" />
                <category
					android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			
        </activity>
		
		<activity
			android:name=".AIDAActivity"
			android:label="AIDA"
			android:process=":com.eemc.aida.aidaactivity">
    	</activity>
		
		<activity
			android:name=".CrashActivity"
			android:label="Crash"
			android:process=":com.eemc.aida.crashactivity">
    	</activity>
		
	</application>

</manifest>
